body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 40px;
    color: white;

    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
h3{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
}

.gallery img:hover {
    transform: scale(1.08);
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}


.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(6px);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s;
}

.modal-content {
    background: #111;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    animation: zoomIn 0.4s;
}

.modal img {
    max-width: 80vw;
    max-height: 70vh;
    border-radius: 12px;
}

#caption {
    margin-top: 12px;
    font-size: 18px;
    color: #ddd;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 32px;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.7); }
    to { transform: scale(1); }
}
@keyframes gradientBG {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}